.button {
  background: gold;
  border-radius: 8px;
  padding: 5px;
  border: 1px solid black;
}

.button:hover,
.button:active {
  transition: all 250ms ease;
  transform: scale(1.1);
}

button:focus {
  outline: none;
}
